{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}
{% block content %}
        <div class="px-6 py-6">
            {% for i in blogs %}
                
            <h1 style="color: rgb(0, 8, 8);text-align: center;" class="px-6 py-3 text-lg font-bold bg-yellow-500 text-Black rounded-xl ">{{ i.Blog_title }}</h1>
            <br>
            <h1 style="color: rgb(1, 10, 10);"  class="px-6 py-3 text-lg font-semibold bg-green-500 text-Black rounded-xl ">{{ i.Blog_content }}</h1>
            <br>
            <h1 style="color: rgb(0, 8, 8);"  class="px-6 py-3 text-lg font-semibold bg-yellow-500 text-Black rounded-xl ">Written by {{ i.Blog_author }}</h1>
            <br>
            <a href="/blogs1" class="px-6 py-3 text-lg font-semibold bg-orange-500 text-white rounded-xl hover:bg-gray-700">Edit</a>
            <a href="delete/{{i.Blog_title}}" class="px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-gray-700">Delete</a>
            <br>
                <br>
            {% endfor %}
        </div>
        
{% endblock %}